body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}
.fade-in-question-container {
  text-align: left;
  padding-left: 20px;
  color: lightslategrey;
  font-size: 25px;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  word-wrap: break-word;
}

.fade-in .word {
  opacity: 0;
  animation: fadeIn 1s ease forwards;
  animation-iteration-count: 3;
  position: relative;
  top: 100px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fade-in-result-container {
  text-align: left;
  padding-left: 20px;
  color: #418BF9;
  font-size: 25px;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  word-wrap: break-word;
  vertical-align: top;
}
.fade-in-result .word {
  opacity: 0;
  animation: fadeIn 1s ease forwards;
  animation-iteration-count: 3;
  position: relative;
  top: 10px;
}

/* Delay each word's animation */
.fade-in span:nth-child(1) {
  animation-delay: 0.2s;
}
.fade-in span:nth-child(2) {
  animation-delay: 0.4s;
}
.fade-in span:nth-child(3) {
  animation-delay: 0.6s;
}
.fade-in span:nth-child(4) {
  animation-delay: 0.8s;
}
.fade-in span:nth-child(5) {
  animation-delay: 1s;
}
.fade-in span:nth-child(6) {
  animation-delay: 1.2s;
}

.fade-in-result span:nth-child(1) {
  animation-delay: 0.2s;
}
.fade-in-result span:nth-child(2) {
  animation-delay: 0.4s;
}