.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 80vh;
  }
  
.result {
    color: black;
    font-size: 40px;
    font-family: 'Inter';
    font-weight: 700;
    word-wrap: break-word;
    text-align: left;
    margin-bottom: 0px;
    margin-left:15px;
    width: 50%;
}
.result-box {
    width: 42%;
    height: 58%;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 8px;
    margin: 16px;
    background-color: #f7f4ef;
  }
  .result-content {
    font-size: 65px;
  }

  h2 {
    color: #333;
  }

.list-item {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 40px;
    color: #000;
    font-family: 'Courier New'
}